<head>
    <link rel="stylesheet" href="/songs.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Images/favicon1.png" type="image/x-icon">
    <title>Vaadhya - Feel The Temperature - The Indian Spotify</title>
    <link rel="shortcut icon" href="Images/favicon1.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>
<body>
        <div class="parent" id="parent">
            <div class="BackButton">
                <button onclick = "homePageShow()"><i class="fa-solid fa-circle-chevron-left"></i></button>
            </div>
        </div>
</body>
<script src="songs.js"></script>
<script src="jquery-1.6.1.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>